.add-new-template-cancel-button {
  position: relative;
  margin-top: 20px;
  top: 40px;
  height: 50px;
  left: 10px;
  background-color: var(--secondary-bg-color);
  border: none;
  color: var(--primary-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.add-new-template-cancel-button:hover {
  background-color: var(--thirdary-bg-color);
  color: var(--fourdary-color);
}

.add-new-template-input {
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 5%;
}
.add-new-template-input-position {
  margin-left: 10px;
  padding-left: 10px;
}
.text-wraper {
  overflow-wrap: anywhere;
}
.delete-button {
  margin-left: 50%;
  background-color: var(--secondary-bg-color);
  border: none;
  color: var(--primary-color);
  width: 200px;
}
.sets-number {
  margin-left: 50%;
}

@media only screen and (max-width: 600px) {
  .add-new-template-input {
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 0px;
  }
  .add-new-template-input-position {
    margin-left: 10px;
    display: block;
    padding-left: 10px;
  }
  .text-wraper {
    overflow-wrap: anywhere;
  }
  .delete-button {
    margin-top: 10px;
    margin-left: 0px;
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--primary-color);
    width: 100px;
  }
  .sets-number {
    margin-left: 10%;
  }
}
