
@font-face {
  font-family: mainfont;
  src: url(./fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: mainfont, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #f3f2f2; 
  --secondary-color: #F9AA33;
  --thirdary-color: #070101;

  --primary-bg-color:  #f3f2f2;
  --secondary-bg-color: #232f34;
  --thirdary-bg-color: #F9AA33;;

  background-color: var(--primary-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import 'navigationbar.css'