@font-face {
  font-family: mainfont;
  src: url(./fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: mainfont, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #f3f2f2;
  --secondary-color: #f9aa33;
  --thirdary-color: #070101;
  --fourdary-color: #232f34;

  --primary-bg-color: #f3f2f2;
  --secondary-bg-color: #232f34;
  --thirdary-bg-color: #f9aa33;
  --fourdary-bg-color: #fff;

  background-color: var(--primary-bg-color);
  color: var(--thirdary-color);
}
.list-group-item {
  color: var(--thirdary-color);
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
/* } */

@import "navigationbar.css";
@import "exercises.css";
@import "formExercises.css";
@import "formSelector.css";
@import "addNewExercise.css";
@import "exercise.css";
@import "edit.css";
@import "exercisesForTemplate.css";
@import "./chooseExercise.css";
@import "./addNewTemplate.css";
@import "./startWorkout.css";
