@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) * 1rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers';
  }
}
$grid-breakpoints: (
  xs: 0,
  sm: rem(320),
  md: rem(720),
  lg: rem(1024),
  xl: rem(1920),
  xxl: rem(2560),
);
// BS overwrites
$primary: #232f34;
$secondary: #f9aa33;
$light: #fff;
$dark: #070101;
$muted: #d1d1d1;
$warning: #716f6f;
$--bs-body-line-height: 100px;
$--bs-navbar-hover-color: $secondary;
$--bs-navbar-active-color: $secondary;
// COLOURS
$body-bg: #f3f2f2;
$body-color: $dark;
$nav-link-color: #f3f2f2;
$nav-pills-link-active-color: $secondary;
$nav-link-hover-color: $secondary;
$navbar-light-color: #f3f2f2;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;
// TOAST
.Toastify__toast-container {
  --toastify-toast-max-width: 320px;
}
.Toastify__toast-container--top-center {
  top: 6rem;
}
.Toastify__toast-theme--light {
  --toastify-color-light: #fff;
  text-align: center;
  color: $dark;
}

.react-datepicker__input-container {
  width: 100%;
  justify-content: center;
}
.date-picker {
  justify-content: center;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 6px 10px;
}
@font-face {
  font-family: mainfont;
  src: url(./fonts/Roboto-Regular.ttf);
}
// FONTS
$font-family-base: mainfont, "Montserrat", sans-serif;
@import "~bootstrap/scss/bootstrap.scss";
a {
  text-decoration: none;
  color: $light;
}
.body {
  font-size: 1rem;
}
.spinner {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #ffff00;
  --nav-link-color: #ffc0cb;
}
.navbar {
  .container-fluid {
    display: flex;
    justify-content: space-evenly;
    padding-right: 0px;
    padding-left: 0px;
    .nav {
      padding-top: 10px;
    }
  }
}
.navbar-collapse {
  flex-direction: column;
  align-items: stretch;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243,242,242, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.input {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  padding-left: 10px;
}
.form-control,
.form-select,
.form-control:focus,
.form-select:focus {
  @extend .input;
  background-color: $light;
  text-align: center;
  width: 22vh;
  min-width: 175px;
  margin: 1rem;
}
.edit-input {
  width: inherit;
}
.form-check-input {
  background-color: $light;
}
.form-label {
  display: flex;
  justify-content: center;
}
.mb-3 {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.select-name-position,
.select-name-position:focus {
  margin: auto;
  width: 50%;
  display: block;
}
.input-sets {
  width: 4rem;
}
.addButtonWidth {
  width: 100%;
}
.btn-link,
.btn-primary {
  @include button-variant(
    $primary,
    darken($primary, 7.5%),
    white,
    darken($primary, 5%),
    darken($primary, 5%),
    white
  );
  text-decoration: none;
  padding: 12 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 32vh;
  max-width: 250px;
  height: 64px;
}
.button-modal {
  max-width: 150px;
  max-height: 80px;
}
.button-hyphen {
  max-width: 50px;
  max-height: 50px;
}
.btn-link:hover,
.btn-primary:hover,
.btn-link:focus {
  background-color: $secondary;
  color: $dark;
  text-decoration: none;
}
.btn-secondary:hover {
  background-color: $primary;
  color: $dark;
  text-decoration: none;
}
.btn-secondary {
  border: none;
  background-color: transparent;
  color: $dark;
}
.btn-primary {
  margin-top: 20px;
  top: 40px;
  height: 80px;
  left: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-top: 2rem;
  display: block;
}

.template-row,
.main-row {
  text-align: center;
}

.input-exercises {
  margin-top: 12px;
}
.template-row-exercise:nth-child(2n) {
  text-align: center;
  background-color: $muted;
}
.profile-table {
  text-align: center;
  font-weight: bold;
}
.profile-table-item {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
.profile-table-item:nth-child(n + 1) {
  border-right: 1px solid;
}
.profile-table-item:last-child {
  border-right: none;
}
.profile-table-item-result {
  padding-top: 10px;
}
.profile-table-item-result:nth-child(n + 1) {
  border-right: 1px solid;
}
.profile-table-item-result:last-child {
  border-right: none;
}

.col-name {
  font-size: rem(22);
  background-color: $primary;
}
.col-name:hover {
  color: $secondary;
  background-color: $primary;
}
.row {
  padding: 10px;
}
.main-row {
  padding-left: 0px;
}
.button-clicked {
  padding-left: 0px;
  margin-top: 5px;
  background-color: $secondary;
}
.single-col-name {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: rem(22);
  color: $primary;
  color: $light;
  background-color: $primary;
}
.single-col {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.template-single-row-exercise {
  color: $dark;
  display: flex;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.template-single-row-exercise:nth-child(2n),
.template-link:nth-child(2n) {
  text-align: center;
  background-color: $muted;
}
.template-link:hover,
.template-link:nth-child(2n):hover {
  color: $dark;
  background-color: $warning;
}
.text-align-single-exercise {
  text-align: center;
  line-height: 20px;
  padding: 10px;
}
.VolumeLine {
  color: #8884d8;
}
.BodyWeightLine {
  color: #ca8284;
}
.VolumePerBodyWeightLine {
  color: #82ca9d;
}
.top-row {
  background-color: $muted;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
  text-align: center;
  border-radius: 5px;
}
.template-link-chart {
  color: $dark;
}
.single-training-result {
  background-color: $muted;
  border-radius: 5px;
}
.single-training-result:nth-child(2n + 1) {
  background-color: $light;
  border-radius: 5px;
}
.template-link-chart:hover {
  color: $dark;
  font-weight: solid;
  background-color: $warning;
  border-radius: 5px;
  width: inherit;
}
.exercise-col {
  background-color: $primary;
  color: $light;
}
.exercise-row-even {
  border-top: 1px solid;
  border-color: $muted;
}
.form-group,
.row-position,
.main-template-div {
  text-align: center;
}
.ul-exercise {
  padding-left: 0px;
}
.center-block,
.center-block-button {
  float: none;
  display: table;
  margin: 0 auto;
  margin-top: 20px;
}
.center-block-button {
  margin: inherit;
}
.sets {
  white-space: nowrap;
}
.firstCol {
  font-weight: bold;
}
.text-wraper {
  overflow-wrap: anywhere;
}
.chart-spacer {
  height: 20px;
}
.textarea-form-control {
  min-height: 12rem;
}
.empty-page {
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
}
@media only screen and (max-width: rem(2560)) {
  .edit-input,
  .edit-input:focus {
    width: 18vh;
  }
  .button-modal {
    max-width: 180px;
    max-height: 75px;
  }
}
@media only screen and (max-width: rem(1024)) {
  .nav,
  .container-fluid {
    margin-bottom: 1rem;
  }
  .mobile-row {
    justify-content: flex-start;
    padding-left: 0px;
  }
  .btn-primary,
  .btn-link {
    width: 22vh;
    padding: 10px;
    max-width: 150px;
    min-width: 175px;
    max-height: 100px;
  }
  .button-modal {
    max-width: 150px;
    max-height: 50px;
  }
  .edit-input,
  .edit-input:focus {
    width: 8vh;
  }
}
@media only screen and (max-width: rem(720)) {
  .a.nav-item {
    display: inline;
  }
  .mobile-row {
    justify-content: center;
  }
  .center {
    justify-content: center;
  }
  .edit-input,
  .edit-input:focus {
    width: inherit;
  }
}
@media only screen and (max-width: rem(480)) {
  .small-view {
    display: none;
  }
}
@media only screen and (max-width: rem(320)) {
  .form-control,
  .form-select,
  .form-control:focus,
  .form-select:focus,
  .btn-link {
    width: auto;
  }
}
