@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) * 1rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers';
  }
}
$grid-breakpoints: (
  xs: 0,
  sm: rem(320),
  md: rem(720),
  lg: rem(1024),
  xl: rem(1920),
  xxl: rem(2560),
);
// BS overwrites
$primary: #232f34;
$secondary: #f9aa33;
$light: #fff;
$dark: #070101;
$muted: #d1d1d1;
$warning: #716f6f;
$--bs-body-line-height: 100px;
$--bs-navbar-hover-color: $secondary;
$--bs-navbar-active-color: $secondary;
// COLOURS
$body-bg: #f3f2f2;
$body-color: $dark;
$nav-link-color: #f3f2f2;
$nav-pills-link-active-color: $secondary;
$nav-link-hover-color: $secondary;
$navbar-light-color: #f3f2f2;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;
// TOAST
.Toastify__toast-container {
  --toastify-toast-max-width: 320px;
}
.Toastify__toast-container--top-center {
  top: 6rem;
}
.Toastify__toast-theme--light {
  --toastify-color-light: #fff;
  text-align: center;
  color: $dark;
}

.react-datepicker__input-container {
  width: 100%;
  justify-content: center;
}
.date-picker {
  justify-content: center;
  border: 1px solid black;
  border-radius: 0.375rem;
  padding: 6px 10px;
}
@font-face {
  font-family: mainfont;
  src: url(./fonts/Roboto-Regular.ttf);
}
// FONTS
$font-family-base: mainfont, "Montserrat", sans-serif;
@import "~bootstrap/scss/bootstrap.scss";
a {
  text-decoration: none;
  color: $light;
}
h4 {
  font-weight: 1000;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.logo-size {
  width: 250px;
}
.recharts-tooltip-wrapper.recharts-tooltip-wrapper-left.recharts-tooltip-wrapper-bottom {
  border: 2px solid $primary;
}
.recharts-tooltip-wrapper.recharts-tooltip-wrapper-right.recharts-tooltip-wrapper-bottom {
  border: 2px solid $primary;
}
.sign-in {
  color: $dark;
  animation: sign-in 3s ease-out infinite;
}
.text-transform {
  text-transform: capitalize;
}
.chart-input {
  display: flex;
  justify-content: flex-start;
}
@keyframes sign-in {
  10% {
    opacity: 0;
  }
}
.sign-in:hover {
  color: $secondary;
}
.signup,
.signin {
  border: 1px solid black;
  border-radius: 40px;
  width: 50%;
  // height: 70vh;
  min-height: 800px;
  min-width: 300px;
  margin: auto;
  background-color: $muted;
}
.signin {
  height: 45vh;
  max-height: 600px;
  min-height: 550px;
}
.body {
  font-size: 1rem;
}
.spinner {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #ffff00;
  --nav-link-color: #ffc0cb;
}
.navbar {
  .container-fluid {
    display: flex;
    justify-content: space-evenly;
    padding-right: 0px;
    padding-left: 0px;
    .nav {
      padding-top: 10px;
    }
  }
}
.navbar-collapse {
  flex-direction: column;
  align-items: stretch;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243,242,242, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.input {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  padding-left: 10px;
}
.redinput {
  border-color: red;
}
.form-control,
.form-select,
.form-control:focus,
.form-select:focus {
  @extend .input;
  background-color: $light;
  text-align: center;
  width: 18vw;
  min-width: 175px;
  margin: 1rem;
  border: 1px solid black;
}
.addNewExercise {
  width: 22vh;
}
// .form-control:focus-visible,
// .form-select:focus-visible {
//   border: 2px solid orange;
// }
.edit-input {
  width: inherit;
}
.form-check-input {
  background-color: $light;
}
.form-label {
  display: flex;
  justify-content: center;
}
.input-limit {
  display: flex;
  justify-content: center;
}
.mb-3 {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.select-name-position,
.select-name-position:focus {
  margin: auto;
  width: 50%;
  display: block;
}
.input-sets {
  width: 4rem;
}
.addButtonWidth {
  width: 100%;
}
.btn-link,
.btn-primary {
  @include button-variant(
    $primary,
    darken($primary, 7.5%),
    white,
    darken($primary, 5%),
    darken($primary, 5%),
    white
  );
  text-decoration: none;
  padding: 12 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 32vh;
  max-width: 250px;
  min-height: 64px;
  max-height: 64px;
}
.button-modal {
  max-width: 150px;
  max-height: 80px;
}
.button-hyphen {
  max-width: 50px;
  max-height: 50px;
}
.btn-link:hover,
.btn-primary:hover,
.btn-link:focus {
  background-color: $secondary;
  color: $dark;
  text-decoration: none;
}
.button-hyphen.btn-primary {
  margin-top: 16px;
}
.btn-secondary:hover {
  background-color: $primary;
  color: $dark;
  text-decoration: none;
}
.btn-secondary {
  border: none;
  background-color: transparent;
  color: $dark;
}
.btn.btn-secondary.disabled {
  pointer-events: none;
  opacity: 1;
  background-color: transparent;
}
.btn.btn-secondary.button-disabled {
  pointer-events: none;
  opacity: 1;
  background-color: transparent;
}
.btn-primary {
  margin-top: 20px;
  top: 40px;
  height: 80px;
  left: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-top: 2rem;
  display: block;
}
.page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  min-width: 100px;
  display: flex;
  justify-content: center;
}
.page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  justify-content: center;
}
.page-item:not(:first-child) .page-link {
  margin-left: 10px;
}
.page-link {
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.break {
  margin-left: 10px;
  margin-right: 10px;
}
.template-row,
.main-row {
  text-align: center;
  margin-left: 0px;
}

.input-exercises {
  margin-top: 12px;
}
.template-row-exercise:nth-child(2n) {
  text-align: center;
  background-color: $muted;
}
.profile-table-row.row {
  padding-left: 0px;
  padding-right: 0px;
}
.profile-table {
  text-align: center;
  font-weight: bold;
}
.profile-table-item {
  padding-bottom: 10px;
  border-bottom: 1px solid;
  justify-content: center;
}
.profile-table-item:nth-child(n + 1),
.profile-table-item-result:nth-child(n-1) {
  border-right: 1px solid;
}
.profile-table-item:nth-child(n + 1),
.profile-table-item-result:nth-child(n-1) {
  border-right: 1px solid;
}

.profile-table-item-result {
  padding-top: 10px;
  justify-content: center;
}

.profile-table-item-last,
.profile-table-item-result-last {
  border: solid 1px;
  border-left: none;
  border-top: none;
  border-right: none;
  justify-content: center;
}
.profile-table-item-result-last {
  border-bottom: none;
}
.hr {
  // display: flex;
  // align-items: center;
  // justify-content: center;

  height: 3vh;
  margin: auto;
  margin-top: 3vh;
  // border-bottom: 1px solid;
}
.col-name {
  font-size: rem(22);
  background-color: $primary;
}
.col-name:hover {
  color: $secondary;
  background-color: $primary;
}
.row {
  padding: 10px;
}
.main-row {
  padding-left: 0px;
}
.button-clicked {
  padding-left: 0px;
  margin-top: 5px;
  background-color: $secondary;
}
.single-col-name {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: rem(22);
  color: $primary;
  color: $light;
  background-color: $primary;
}
.single-col-name.space-around {
  justify-content: space-around;
  border-radius: 5px 5px 0px 0px;
}
.single-col {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.template-single-row-exercise {
  color: $dark;
  display: flex;
  text-align: center;
  // margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.template-single-row-exercise:nth-child(2n),
.template-link:nth-child(2n) {
  text-align: center;
  background-color: $muted;
}
.template-link:hover,
.template-link:nth-child(2n):hover {
  color: $dark;
  background-color: $warning;
}
.text-align-single-exercise {
  text-align: center;
  line-height: 20px;
  padding: 10px;
}
.VolumeLine {
  color: #8884d8;
  display: flex;
  justify-content: flex-start;
}
.BodyWeightLine {
  color: #ca8284;
  display: flex;
  justify-content: flex-start;
}
.VolumePerBodyWeightLine {
  color: #82ca9d;
  display: flex;
  justify-content: flex-start;
}
.top-row {
  background-color: $muted;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  // border-radius: 10px;
}
.results-table {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.word-spacing {
  word-spacing: 20px;
}

.ext-lowercase {
  text-transform: lowercase;
}
.template-link-chart {
  color: $dark;
}
.single-training-result {
  background-color: $muted;
  border-radius: 5px;
}
.single-training-result:nth-child(2n + 1) {
  background-color: $light;
  border-radius: 5px;
}
.template-link-chart:hover {
  color: $dark;
  font-weight: solid;
  background-color: $warning;
  border-radius: 5px;
  width: inherit;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.exercise-col {
  background-color: $primary;
  color: $light;
}
.exercise-row-even {
  border-top: 1px solid;
  border-color: $muted;
  margin-left: 0px;
  margin-right: 0px;
}
.exercise-row-odd {
  border-top: 1px solid;
  border-color: $light;
  margin-left: 0px;
  margin-right: 0px;
}
.form-group,
.row-position,
.main-template-div {
  text-align: center;
}
.ul-exercise {
  padding-left: 0px;
}
.center-block,
.center-block-button {
  float: none;
  display: table;
  margin: 0 auto;
  margin-top: 20px;
}
.center-block-button {
  margin: inherit;
}
.sets {
  white-space: nowrap;
}
.firstCol {
  font-weight: 600;
}
.text-wraper {
  overflow-wrap: anywhere;
}
.spacer {
  height: 30px;
}
.chart-spacer {
  height: 20px;
}
.textarea-form-control {
  min-height: 12rem;
}
.empty-page {
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
}
.date-picker-view {
  display: flex;
  align-items: flex-start;
}
.inputUnit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-hyphen.btn-primary {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.input-max {
  max-width: 200px;
}
@media only screen and (max-width: rem(2560)) {
  .edit-input,
  .edit-input:focus {
    width: 18vh;
  }
  .button-modal {
    max-width: 250px;
    max-height: 75px;
  }
}
@media only screen and (max-width: rem(1024)) {
  .small-button {
    font-size: 12px;
  }
  .page-item:not(:first-child) .page-link {
    margin-left: 5px;
  }
  .page-item:first-child .page-link {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    min-width: 80px;
  }
  .page-link {
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
  }
  .break {
    margin-left: 5px;
    margin-right: 5px;
  }
  .pie-chart {
    font-size: 14px;
  }
  .nav,
  .container-fluid {
    margin-bottom: 1rem;
  }
  .date-picker-view {
    display: flex;
    align-items: center;
  }
  .mobile-row {
    justify-content: flex-start;
    padding-left: 0px;
  }
  .logo {
    margin-top: 40px;
  }

  .btn-primary,
  .btn-link {
    width: 22vh;
    padding: 10px;
    max-width: 150px;
    min-width: 175px;
    min-height: 64px;
    max-height: 64px;
  }
  .button-modal {
    max-width: 150px;
    max-height: 50px;
  }
  .edit-input,
  .edit-input:focus {
    width: 8vh;
  }
  .workout-input.form-control,
  .edit-input,
  .edit-input:focus {
    width: 75px;
    max-width: 75px;
    min-width: 75px;
  }

  .date-picker {
    width: 120px;
  }
  .date-picker-view {
    display: flex;
    align-items: flex-start;
  }
  .inputUnit {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: rem(720)) {
  .logo {
    margin-top: 0px;
  }
  .page-item:not(:first-child) .page-link {
    margin-left: 3px;
    margin-right: 3px;
  }

  .page-item:last-child .page-link {
    min-width: 57px;
  }
  .page-link {
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 11px;
  }
  .break {
    margin-left: 3px;
    margin-right: 3px;
  }
  .logo-size {
    width: 200px;
  }
  .profile-table {
    font-size: 12px;
  }
  .pie-chart {
    font-size: 12px;
  }
  .a.nav-item {
    display: inline;
  }
  .mobile-row {
    justify-content: center;
  }
  .center {
    justify-content: center;
  }
  .edit-input,
  .edit-input:focus {
    width: inherit;
  }

  .page-link {
    margin: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 38px;
  }
  .edit-input,
  .edit-input:focus {
    width: 8vh;
  }
  .form-control,
  .form-control:focus {
    width: 50px;
  }
  .date-picker {
    width: 120px;
  }
  .workout-input.form-control {
    width: 40px;
    max-width: 40px;
    min-width: 60px;
  }

  .btn-primary,
  .btn-link {
    width: 22vh;
    padding: 10px;
    max-width: 150px;
    min-width: 100px;
    min-height: 64px;
    max-height: 64px;
  }
  .workout-input.form-control,
  .edit-input,
  .edit-input:focus {
    width: 55px;
    max-width: 55px;
    min-width: 55px;
  }
  .date-picker {
    width: 120px;
  }
  .date-picker-view {
    display: flex;
    align-items: flex-start;
  }
  .inputUnit {
    display: flex;
    align-items: center;
  }
  .sets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-hyphen.btn-primary {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: rem(480)) {
  .page-item:first-child .page-link {
    border: 0;
  }
  .page-item:last-child .page-link {
    border: 0;
  }
  .page-item:not(:first-child) .page-link {
    margin-left: 3px;
    margin-right: 3px;
  }

  .page-item:last-child .page-link {
    min-width: 57px;
  }
  .page-link {
    border: 1px solid black;
    border-radius: 0;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 11px;
  }
  .break {
    margin-left: 3px;
    margin-right: 3px;
  }
  .row.workout-mobile {
    padding-right: 0px;
  }
  .profile-table {
    font-size: 8px;
  }
  .pie-chart {
    font-size: 9px;
  }
  .template-row.row,
  .template-row-exercise {
    padding: 10px;
  }
  .template-row-exercise.row {
    padding-top: 10px;
  }
  .row {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .btn-primary,
  .btn-link {
    margin-bottom: 10px;
  }
  .workout-small {
    font-size: 10px;
  }
  .workout-input.form-control,
  .edit-input,
  .edit-input:focus {
    width: 45px;
    max-width: 45px;
    min-width: 45px;
  }
  .date-picker {
    font-size: 10px;
    width: 80px;
  }
  .date-picker-view {
    display: flex;
    align-items: flex-start;
  }
  .inputUnit {
    display: flex;
    align-items: center;
  }
  .small-view {
    display: none;
  }

  .input,
  .form-control {
    font-size: 10px;
  }
  .page-link {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 4px;
    max-height: 38px;
  }
}
@media only screen and (max-width: rem(320)) {
  .logo-size {
    width: 150px;
  }
  .form-control,
  .form-select,
  .form-control:focus,
  .form-select:focus,
  .btn-link {
    width: auto;
  }
  .page-link {
    margin: 0px;
    padding: 1px;
    max-height: 38px;
  }
  .profile-table {
    font-size: 8px;
  }
}
