@media only screen and (max-width: 600px) {
  .for-mobile {
    bottom: 0;
    position: fixed;
    width: 100%;
  }
}
.nav {
  background-color: var(--secondary-bg-color);
}
.nav-link {
    color: var(--primary-color);
}
.nav-link:hover {
    color: var(--secondary-color);
}
