@media only screen and (max-width: 600px) {
  .nav {
    bottom: 0;
    position: fixed;
    width: 100%;
  }
}
.nav {
  background-color: var(--secondary-bg-color);
  height: 100px;
  padding-top: 10px;
}
.nav-link {
    color: var(--primary-color);
}
.nav-link:hover {
    color: var(--secondary-color);
}

