.modal-footer-buttons {
  position: sticky;
  bottom: 0px;
  padding-right: auto;
  padding-left: auto;
  background-color: var(--fourdary-bg-color);
}

.add-button {
  position: absolute;
  left: 10px;
  background-color: var(--secondary-bg-color);
  border: none;
  color: var(--primary-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.add-button:hover {
  background-color: var(--thirdary-bg-color);
  color: var(--fourdary-color);
}

.cancel-button {
  right: 10px;
  background-color: var(--secondary-bg-color);
  border: none;
  color: var(--primary-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.cancel-button:hover {
  background-color: var(--thirdary-bg-color);
  color: var(--fourdary-color);
}

.open-modal-button {
  width: 30%;
  margin-left: 35%;
  margin-top: 10px;
  height: 50px;
  left: 10px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.open-modal-button:hover {
  background-color: var(--thirdary-bg-color);
  color: var(--fourdary-color);
}
.open-modal-button:focus {
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  box-shadow: none;
}

@media only screen and (max-width: 600px) {
  .add-button {
    position: absolute;
    left: 10%;
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--primary-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  .cancel-button {
    left: 10%;
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--primary-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
}
