.top-row {
  background-color: var(--fifthdary-bg-color);
  padding-top: 0px;
  padding-bottom: 0px;
}

.firstCol {
  font-weight: bold;
}
.exercise-col {
  color: var(--primary-color);
  background-color: var(--secondary-bg-color);
}
.exercise-row-even {
  border-top: 1px solid;
  border-color: var(--fifthdary-bg-color);
}

.exercise-row-odd {
  border-top: 1px solid;
  border-color: var(--fourdary-bg-color);
}
